node_modules
.next
.source
scripts/excalidraw-render/.venv/
tsconfig.tsbuildinfo
.DS_Store
.tmp
tmp
dist
site
npm-debug.log*
next-localhost-*.log
yarn.lock
.env
.vscode
.idea

## Ignore ephemeral doc-tool output
output.csv
_doctools/*.csv
